<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.8">
    <title>TreVPN</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/main.css?v=14">
</head>

<body>
    <div id="wrapper">
        <div id="center">
            <header>
                <h1><a href="https://trevpn.trev.xyz">TreVPN</a></h1>
                <h2><a href="https://www.wireguard.com/install/" target="_blank">Install WireGuard</a> / <a href="{{ conf }}">Download Config</a> / Connect to VPN</h2>
            </header>
            <div id="blocks">
                <div id="block">
                    <img src="{{ qr }}" alt="User Image">
                    <h3>{{ name }}</h3>
                    <h4><a href="{{ conf }}">Config Download</a></h4>
                </div>
            </div>
        </div>
        <footer>
            Made with &hearts; by Trev
        </footer>
    </div>
</body>
</html>
